<div class="p-2 contenedorde">
  <div>
    <div class="flex flex-col items-center justify-center min-h-screen py-10">
      <div class="flex justify-center">
        <img
          src="/logo.png"
          alt="Imagen dinámica"
          class="w-64 h-64 transform hover:scale-110 transition-transform duration-500"
        />
      </div>

      <div class="bg-gray-700 p-8 rounded-lg shadow-lg max-w-2xl w-full">
        <h1
          class="text-5xl font-bold text-center text-green-500 mb-6 animate-bounce"
        >
          Bienvenido a Game Galaxy
        </h1>
        <p class="text-lg text-center text-gray-300 mb-6">
          Para completar tu compra de videojuegos, necesitamos que subas una
          imagen o documento que compruebe que has cancelado tu factura. Este
          paso es esencial para garantizar una transacción segura y eficiente.
          Agradecemos tu cooperación.
        </p>
        <p class="text-lg text-center text-gray-300 mb-6">
          Una vez que hayas subido tu comprobante, podrás continuar con tu
          compra. Por favor, presiona el botón de "Subir comprobante" para
          proceder.
        </p>
      </div>
    </div>

    <div class="mt-10">
      <div
        class="absolute inset-0 flex items-center justify-center"
        style="margin-top: 590px"
      >
        <!-- Contenedor para centrar el botón en la página -->
        <div class="relative">
          <button
            type="button"
            class="bg-green-500 hover:bg-black text-white font-bold py-2 px-4 rounded"
            (click)="open = true"
          >
            Subir comprobante
          </button>
        </div>
      </div>
    </div>
  </div>

  <div
    class="fixed z-10 inset-0 overflow-y-auto"
    [attr.aria-labelledby]="'modal-title'"
    role="dialog"
    aria-modal="true"
    [style.display]="open ? 'block' : 'none'"
  >
    <div
      class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
    >
      <div
        class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
        aria-hidden="true"
      ></div>

      <span
        class="hidden sm:inline-block sm:align-middle sm:h-screen"
        aria-hidden="true"
        >&#8203;</span
      >

      <div
        class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
      >
        <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
          <h5
            class="text-lg leading-6 font-medium text-gray-900"
            id="modal-title"
          >
            Subir comprobante
          </h5>
          <div class="mt-2">
            <input
              placeholder="subir archivo"
              type="file"
              (change)="onFileChange($event)"
              class="mt-1 block w-full"
            />
          </div>
        </div>
        <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
          <button
            type="button"
            class="mx-1 mr-1 mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:w-auto sm:text-sm"
            (click)="open = false"
          >
            <i class="bi bi-x-circle-fill mr-2"></i> Cerrar
          </button>

          <button
            type="button"
            class="mx-1 ml-1 mt-3 w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-green-500 text-base font-medium text-white hover:bg-black focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:mt-0 sm:w-auto sm:text-sm"
            (click)="onButtonClick()"
          >
            <i class="bi bi-envelope-fill mr-2 text-white"></i> Enviar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
