.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #f7f7f7;
  border-radius: 10px;
  background-color:  #e5e6e4
}

h1, h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group select {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group input[readonly] {
  background-color: #e9ecef;
}

.error-message {
  color: red;
  font-size: 0.875em;
  margin-top: 5px;
}

.submit-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button[disabled] {
  background-color: #434543;
  cursor: not-allowed;
}

.submit-button:not([disabled]):hover {
  background-color: #3b7c3d;
}
