/* navbar.component.css */

.navbar {
  background-color: #333;
  border-right: 2px solid #4CAF50;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  height: 100%;
  width: 180px;
  top: 0;
  left: 0;
  z-index: 1000;
  padding-top: 20px;
  transition: width 0.3s;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 20px;
}

.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.nav-item {
  width: 100%;
}

.nav-link {
  display: block;
  color: white;
  text-align: left;
  padding: 14px 20px;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  border-radius: 4px;
}

.nav-link:hover {
  background-color: #575757;
  transform: scale(1.05);
}

.nav-link.active {
  background-color: #4CAF50;
  color: white;
  transform: scale(1.05);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .navbar {
    width: 60px;
  }
  
  .navbar-container {
    padding: 0 10px;
  }
  
  .nav-link {
    text-align: center;
    padding: 10px 5px;
  }
  
  .nav-link::after {
    content: attr(data-title);
    display: block;
    font-size: 12px;
    color: #fff;
  }
}