<app-navbar></app-navbar>
<div class="table-responsive">
  <table>
    <thead>
      <tr>
        <th>Cliente</th>
        <th>Correo</th>
        <th>Videojuego</th>
        <th>Precio</th>
        <th>Total con descuento</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dato of datos">
        <td>{{ dato.Cliente }}</td>
        <td>{{ dato.correo }}</td>
        <td>{{ dato.videojuego }}</td>
        <td>{{ dato.precio }}</td>
        <td>{{ calcularTotal(dato.precio) }}</td>
        <td>
          <button class="aceptar" style="margin-right: 10px;" (click)="aceptarRegistro()">Aceptar</button>
          <button class="denegar" (click)="denegarRegistro()">Denegar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>